body {
	height: 100%;
}

.id-holder {
	clear: both;
	padding: 2px;
}

img {
	padding-right: 2px;
	float: left;
}

h5, h3 {
	margin: 0;
}

#filters[style*="display: none"] ~ #pullRequestTableContainer, #filters[style*="display:none"] ~ #pullRequestTableContainer  {
	height: calc(100% - 40px);
	overflow: scroll;
}

#pullRequestTableContainer {
	height: calc(100% - 113px);
	overflow: scroll;
	margin: 5px;
}

.approved {
	border: 5px;
	border-bottom-style: solid;
	border-color: #287729;
}

.approvedwithsuggestions {
	border: 5px;
	border-bottom-style: dotted;
	border-color: #287729;
}

.rejected {
	border: 5px;
	border-bottom-style: solid;
	border-color: lightcoral;
}

.waitingauthor {
	border: 5px;
	border-bottom-style: dotted;
	border-color: #FF8C0C;
}

#limitReviewerMe, #limitCreatorMe{
	position: relative !important;
	padding-left: 0px !important;
	margin-left: 0px !important;
}

.fitFilters {
	margin-left: 20px !important;
	width: 150px !important;
}

.successful {
    background-color: green; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, green , white 3%); /* Standard syntax (must be last) */
}

.unsuccessful {
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right, red , white 3%, white 97%, red); /* Standard syntax (must be last) */
}

.hidden {
	display: none;
}
